* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

p {
    /* centrando el texto */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /********************/
    /* ****** text ******/
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: black;
    /********************/
    /***** spacing ******/
    height: 150px;
    padding: 25px 10px 10px 10px;
    /******************/
    /***** border,colors */
    border: 1px solid black;
    background-color: #b1abab;
    /******************/
}

.row {
    width: 100%;
}

.title {
    /***** Spacing ****/
    float: right;
    top: 2px;
    right: 10px;
    height: 25px;
    width: 120px;
    /******************/
    /********border, color **/
    border: 1px solid #312e2e;
    background-color: cornflowerblue;
    /******************/
    /******** text *******/
    font-size: 1.25em;
    color: white;
    text-align: center;
    /******************/
}

.t1 {
    background-color: #0b2091;
}

.t2 {
    background-color: crimson;
}

.t3 {
    background-color: darkkhaki;
}
/************** DESKTOP VIEW ****************/
@media (min-width: 992px) {
    .col-lg {
        float: left;
        width: 33%;
        padding: 10px;
    }
}

/************** TABLET VIEW ****************/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-row1 {
        float: left;
        width: 50%;
        padding: 10px;
    }
    
    .col-md-row2 {
        float: left;
        width: 100%;
        padding: 10px;
    }
}

/************** SMALL VIEW ****************/
@media (max-width: 767px) {
    .col-sm {
        float: left;
        width: 100%;
        padding: 10px;
    }
    
    p {
        height: auto;
    }
}
